<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event_realizers_title.title %>
</p>

<%= link_to 'Edit', edit_event_realizers_title_path(@event_realizers_title) %> |
<%= link_to 'Back', event_realizers_titles_path %>
