<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sponsors_and_supporters_title.title %>
</p>

<%= link_to 'Edit', edit_sponsors_and_supporters_title_path(@sponsors_and_supporters_title) %> |
<%= link_to 'Back', sponsors_and_supporters_titles_path %>
