<section class="edit-sections">
    <div class="container-table">
        <h1>Edição Sessão de Vídeo</h1>
        <div class="form-edit-section">
            <%= render 'form', merchandising_video: @merchandising_video %>
            <button><%= link_to 'Voltar', merchandising_videos_path %></button>
        </div>
    </div>
</section>

<!--<%= link_to 'Show', @merchandising_video %> -->


