<h1>Editing Sponsors And Supporter</h1>

<%= render 'form', sponsors_and_supporter: @sponsors_and_supporter %>

<%= link_to 'Show', @sponsors_and_supporter %> |
<%= link_to 'Back', sponsors_and_supporters_path %>
