<p id="notice"><%= notice %></p>

<h1>Sponsors And Supporters</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors_and_supporters.each do |sponsors_and_supporter| %>
      <tr>
        <td><%= sponsors_and_supporter.link %></td>
        <td><%= link_to 'Editar', edit_sponsors_and_supporter_path(sponsors_and_supporter) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


