<h1>Editing Sponsors And Supporters Title</h1>

<%= render 'form', sponsors_and_supporters_title: @sponsors_and_supporters_title %>

<%= link_to 'Show', @sponsors_and_supporters_title %> |
<%= link_to 'Back', sponsors_and_supporters_titles_path %>
