<h1>Pagamento Registrado!</h1>

<p>
    Olá, <%= @user.name %>!
</p>

<p>
    Agradecemos o seu pedido!
    Em breve, um de nossos colaboradores entrará em contato.
</p>

<p>
    <% link_to "Clique aqui", @user %> para acessar seu perfil.
</p>