<section class="edit-sections">
    <div class="container-table">
        <h1>Edição Sessão Principal</h1>
        <div class="form-edit-section">
            <%= render 'form', showcase: @showcase %>
            <button><%= link_to 'Voltar', showcases_path %></button>
        </div>
    </div>
</section>

<% #link_to 'Show', @showcase %> 

