<section class="edit-sections">
    <div class="container-table">
        <h1>Editando Sessão Principal</h1>
        <div class="form-edit-section">
            <%= render 'form', showcase: @showcase %>
            <%= link_to 'Back', showcases_path %>
        </div>
    </div>
</section>

<% #link_to 'Show', @showcase %> 

