<section class="edit-sections">
    <div class="container-table">
        <h1>Edição Sessão Evento</h1>
        <div class="form-edit-section">
            <%= render 'form', the_event: @the_event %>
            <button><%= link_to 'Voltar', sections_edit_path %></button>
        </div>
    </div>
</section>
<!--<%= link_to 'Show', @the_event %> -->

