<section class="edit-sections">
    <div class="container-table">
        <h1>Edição de Lotes</h1>
        <div class="form-edit-section">
            <%= render 'form', lot: @lot  %>
        </div>
    </div>
</section>