.sessions {
    background: var(--green);
}

.sessions header{
    background: var(--green);
}

.container-sessions-vertical-middle{
    display: table-cell;
    vertical-align: middle;
}

.container-sessions{
    display: table;
    height: calc(100vh - 230px);
    margin: 0 auto;
}

.sessions h2{
    margin-top: 15px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    text-shadow: 0px 4px 4px #00000061;
    color: var(--white);
    margin-bottom: 40px;
    font-weight: bold;
}

.sessions p{
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Palanquin Dark', sans-serif;
    text-shadow: 0 4px 4px 0px #00000061;   
    color: var(--white);
}

.sessions .actions input{
    background: var(--yellow);
    border: 0px;
    text-align: center;
    border-radius: 100px;
    color: var(--white);
    padding: 6px 0px;
    width: 148px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    margin-top: 15px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
}
.sessions .actions input:hover{
    transition: 0.3s;
    box-shadow: none;
}
.sessions .field input{
    width: 300px;
    border-radius: 15px;
    border: none;
    padding: 0px 0px;
    background: var(--green-input);
    border: 2px solid var(--green-input-stroke);
    margin-bottom: 20px;
    padding-left: 10px;
}

.sessions .fieldcheck input{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px 0px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.sessions .actions{
    text-align: center;
}

.container-sessions .links-login a{
    margin-top: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.125em;
    text-decoration:none;
    color: var(--white);
    text-align: center;
    cursor: pointer;
}
.container-sessions .links-login{
    text-align:center;
    margin-top: 10px
}
.container-sessions .links-login a:hover{
    color: var(--green-input-stroke);
}

.container-sessions .links-login p{
    font-size: 1em;
    text-transform: none;
    font-weight: 100;
    margin-top: 20px;
}

.container-sessions input::placeholder{
    font-family: 'Palanquin Dark', sans-serif;
    color: var(--green-input-stroke);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.3em;

}

.container-sessions input{
    font-family: 'Palanquin Dark', sans-serif;
    color: var(--white);
    font-size: 1.3em;
    padding-left: 10px;
}

.container-sessions .field{
    display: table;
    margin: 0 auto;
}

.container-sessions .fieldTermo{
    display: table;
    margin: 0 auto;
}

.sessions .fieldTermo input {
    width: 300px;
    margin-bottom: 20px;
    font-size: 1em;
}

.container-sessions .campos-cadastro{
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 230px);
}

.session-esquerda{
    float: left;
    margin-right: 20px;
}

.session-direita{
    float: right;
}

.data-de-nascimento{
    border: 1px solid var(--green);
}

/*#user_picture::placeholder{
    font-family: FontAwesome;
    content: "\f1b9";
}
*/
.sessions #user_IES_id, #user_gender, #user_lot_id{
    font-family: 'Palanquin Dark', sans-serif;
    width: 304px;
    border-radius: 15px;
    border: none;
    padding: 0px 0px;
    background: var(--green-input);
    border: 2px solid var(--green-input-stroke);
    /* margin-bottom: 20px; */
    padding: 5px 10px;
    color: var(--white);
    margin-bottom: 20px;
}
.sessions .send-file{
    #image_field {
        width: 100%;
    }
    
    [type=file] {
        //position: absolute;
        //width: 0;
        //visibility: hidden;
        display: none;
    }
    
    [type=file] + label {
      /* Decorative */
        border-radius: 100px;
        background: var(--dark-green);
        color: var(--white);
        font-weight: bold;
        font-family: 'Palanquin Dark', sans-serif;
        font-size: 1.125em;
        text-align: center;
        padding: 11.5px 0px;
        cursor: pointer;
        width: 304px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-shadow: 0 4px 4px #00000061;
        margin-bottom: 20px;
    }
    [type=file] + label:hover {
        box-shadow: 0 0 0 #000000;
        transition: 0.3s;
    }
}
@media(max-width:650px){
    .session-direita{
        float: none;
    }
    .session-esquerda{
        float: none;
        margin: 0px;
    }
}


.container-sessions .actions a{
    text-decoration: none;
    color: var(--white);
    background: var(--yellow);
    border: 0px;
    text-align: center;
    border-radius: 100px;
    padding: 6px 0px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 35px;
}

.container-sessions .actions a:hover{
    transition: 0.3s;
    box-shadow: 0 0 0 0 black;

}