// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*

##     ##  #######  ##     ## ######## 
##     ## ##     ## ###   ### ##       
##     ## ##     ## #### #### ##       
######### ##     ## ## ### ## ######   
##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       
##     ##  #######  ##     ## ######## 

*/


button{
    cursor: pointer;
    outline: none;
}

input{
    outline: none;
}

.home .logo-enec{
    float: left;
}
.home .after-header{
    clear: none;
}

.home .links-de-login{
    display: none;
}

.home header{
    position: fixed;
    background: none;
    width: 100%;
    z-index: 999;
}

.home .ativo{
    position: fixed;
    background: var(--green-hover);
}
.main-session{
    background-image: image-url('morro_santa_teresa.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.evento-session{
    height: 553px;
    background-color: var(--green);

}

.home-esquerda{
    width: 49vw;
    clear: both;
    display: table-cell;
    vertical-align: middle;
    //margin-left: 4vw;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%
}
.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 92%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.icon-scroll-gone{
    display: none;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
}
.home-direita{
    width: 49vw;
    //margin-left: 4vw;
    display: table-cell;
    vertical-align: middle;
}

.home-middle{
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.container-home{
    height: 100vh;
    display: inline-table;
}

.sections-home-table-cell{
    display: inline-table;
    width: 100%;
}
.main-session h1{
    font-size: 6em;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    margin-bottom: 35px;
    text-shadow: 0px 4px 4px #00000061;
}

.main-session h2{
    font-size: 3em;
    text-align: center;
    color: var(--yellow);
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: bold;
    margin-bottom: 35px;
    letter-spacing: 5px;
    text-shadow: 0px 4px 4px #00000061;
}


.main-session h3{
    line-height: 30px;
    font-size: 1.5em;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    text-shadow: 0px 4px 4px #00000061;
}


.main-session .inscreva-se-button{
    background: var(--yellow);
    border: 0px;
    border-radius: 100px;
    color: var(--white);
    font-weight: bold;
    padding: 5px 75px;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 52px;
    font-family: 'Palanquin Dark', sans-serif;
    letter-spacing: 4px;
    box-shadow: 0 4px 4px #00000061;
}
.main-session .inscreva-se-button:hover{
    transition: 0.3s;
    background: var(--yellow-hover);
    box-shadow: none;
}
.main-session .area-do-congressista-button{
    text-decoration: none;
    background: var(--green);
    border: 0px;
    border-radius: 100px;
    color: var(--white);
    padding: 2px 40px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
}
.main-session .area-do-congressista-button:hover{
    transition: 0.3s;
    background: var(--green-hover);
    box-shadow: none;
}

.main-session p{
    text-align: center;
}

.evento-session h4{
    color: var(--white);
    font-size: 4em;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    margin-bottom: 60px;
    text-shadow: 0px 4px 4px #00000061;
}

.evento-session p{
    font-family: 'Bitter', serif;
    letter-spacing: 1px;
    color: var(--white);
    font-size: 1.125em;
    margin-left: 5vw;
    max-height: 420px;
}

.evento-session h2{
    font-size: 6.875em;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: bold;
    color: var(--yellow);
    text-shadow: 0px 4px 4px #00000061;
    display: block;
    margin-left: 5vw;
}

.evento-session h3{
    font-size: 3.6em;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: bold;
    color: var(--yellow);
    letter-spacing: 2px;
    text-shadow: 0px 4px 4px #00000061;
    display: inline-block;
}

.evento-session span{
    font-size: 2em;    
    color: var(--yellow);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Palanquin Dark', sans-serif;
    margin-left: 5vw;
}
.evento-session .home-direita div{
    margin-top: 2em;
}

.palestrantes-session .home-direita{
    background-image: image-url('parque_farroupilha1.jpg');
    background-size: cover;
    background-position-x: center;
    height: 438px;
    
}
.palestrantes-session {
    background: var(--yellow);
    
    height: 512px;
}

.palestrantes-session h2{
    font-size: 3em;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: right;
    margin-right: 3vw;
    color: var(--dark-green);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
    margin-bottom: 1.7em;
}

.palestrantes-session p{
    color: var(--dark-green);
    clear: both;
    font-family: 'Bitter', serif;
    font-size: 1em;
    text-align: right;
    margin-right: 3vw;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    float: right;
    max-width: 40vw;
}

.palestrantes-session .confira-ja-button{
    background: var(--green);
    border: 0px;
    border-radius: 100px;
    color: var(--white);
    padding: 6px 85px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    margin-top: 5.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.palestrantes-session .confira-ja-button:hover{
    transition: 0.3s;
    background: var(--green-hover);
    box-shadow: none;
}
.editais-session {
    height: 500px;
    background: var(--green);

    
}

.editais-session .home-esquerda{
    background-image: image-url('parque_farroupilha2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 425px;
}

.editais-session h2{
    font-size: 3em;
    font-family: 'Palanquin Dark', sans-serif;
    margin-left: 3vw;
    color: var(--white);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
    margin-bottom: 1.7em;
}

.editais-session p{
    color: var(--white);
    clear: both;
    font-family: 'Bitter', serif;
    font-size: 1em;
    text-align: left;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    max-width: 40vw;
    margin-left: 3vw;
}

.editais-session .confira-ja-button{
    background: var(--yellow);
    border: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 100px;
    color: var(--white);
    padding: 6px 85px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    margin-top: 5.5em;
    float: left;
}

.editais-session .confira-ja-button:hover{
    transition: 0.3s;
    background: var(--yellow-hover);
    box-shadow: none;
}

.container-passport{
    position: relative;
    min-height: 500px;
}

.passport-session{
    min-height: 500px;
}

.passport-left{
  position: absolute;
  width: 49.95%;
  left: 0;
  min-height:500px; 
  border-right-color: var(--yellow);
  border-right-style: solid;
  border-right-width: 1px;
}

.passport-left::after{
  content: '';
  display: block;
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  border-radius: 50%;
  border: 10px solid #ffffff;
  }

.passport-right{
    width: 49.95%;
    right: 0;
    position: absolute;
    min-height: 500px;
    width: 49vw;
    clear: both;
    text-align: left;
}

.text-passport{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
    min-width: 40%;

}

.passport-right::before{
    content: '';
    display: block;
    background-color: var(--yellow);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 101%;
    transform: translateY(50%) translateX(50%);
    z-index: 5;
    border-radius: 50%;
    border: 10px solid #ffffff;
}


.passport-session h2{
    font-size: 1.75em;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    margin: 0 auto;
    color: var(--dark-green);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
}

.passport-session p{
    color: var(--dark-green);
    clear: both;
    font-family: 'Bitter', serif;
    font-size: 1em;
    text-align: center;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 800;
    max-width: 40vw;
    margin: 3.2em auto 3.5em;
}

.passport-session .price-button{
    background: var(--orange);
    border: 0px;
    border-radius: 100px;
    color: var(--white);
    padding: 4px 35px;
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    }

.logo-passport{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translate(-50%);
    max-height: 80%;
    object-fit: contain;
}

@media(max-width:1050px){
    .logo-passport{
        max-width: 70%;
    }
}

@media(max-width:620px){
    .logo-passport{
        height: 80%;
        top: 0;
        transform: translateX(-50%) translateY(0);
        margin-top: 2em;
    }

    .passport-left{
        position: absolute;
        width: 100%;
        min-height: 50%; 
        border-right-style: solid;
        border-right-width: 0px;
        
      }
    
    .passport-session h2 {
        // float: left;
        font-size: 1.6em;
        margin-top: 1em;
    }

    .passport-session p {
        // float: left;
        // margin-left: 0px;
        // position: relative;
        // right: 35%;
    }

    .passport-session button {
        // float: left;
        // position: relative;
        // right: 168px;
        // width: 200px;
        text-align: center;
    }

    .passport-right::before{
        display: none;
    }

    .passport-left::after{
        display: none;
    }

    .passport-right{
        width: 100%;
        min-height: 50%;
        bottom: 0;
    }

    .text-passport{
        position: absolute;
        height: 100%;
        margin-left: 0;
        bottom: 0;
        width: 100%;
    }

    @media(max-width: 400px){
        .passport-session button {
            float: left;
            margin-left: 0px;
            position: relative;
            right: 165px;
            padding: 0px;
    
        }
        .logo-passport{
            width: 300px;
            height: auto;
            float:right;
            position: relative;
            left: 150px;
        }
        .passport-session button {
            float: left;
            position: relative;
            right: 160px;
            width: 200px;
            text-align: center;
        }
    
    }

}



.revolucao-session{
    background-color:  var(--red);
    display: inline-table;
    width: 100vw;
}

.revolucao-session h2{
    font-size: 3em;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
    padding-top: 1em;
}

.revolucao-video {
    width: 35vw;
    margin: 30px auto;
}

.revolucao-centro {
    width: 100vw;
    margin: 30px auto;
    display: table-cell;
    vertical-align: middle;
}


@media(max-width:425px){
    .revolucao-video {
        width: 60vw;
        // height: 45vw;
        // position: relative;
        // right: 44px;
    }
}


.realizadores-session{
    height: 500px;
    display: table;
    margin: 0 auto;
}

.realizadores-middle{
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    margin: 0 auto;
}

.realizadores-middle img{
    width: 100px;
}

#realizadorslider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    cursor: pointer;
    flex-basis: auto;
    height: 185px;
    margin-left: 20px;
    margin-right: 20px;
    width: 367px;
}


.realizadores-session h2 {
    font-size: 2em;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: bold;
    color: var(--dark-green);
    letter-spacing: 3px;
    text-shadow: 0px 2px 2px #00000061;
    text-align: center;
    margin-bottom: 40px;
}

// .amarelo-redondo-passport-antes{
//     display: block;
//     background-color: var(--yellow);
//     width: 40px;
//     height: 40px;
//     position: absolute;
//     left: 50%;
//     transform: translateY(-50%) translateX(-50%);
//     z-index: 5;
//     border-radius: 50%;
//     border: 10px solid #ffffff;
// }

// .amarelo-redondo-passport-depois{
//     content: '';
//     display: block;
//     background-color: var(--yellow);
//     width: 40px;
//     height: 40px;
//     position: absolute;
//     bottom: 0;
//     right: 100%;
//     transform: translateY(50%) translateX(50%);
//     z-index: 5;
//     border-radius: 50%;
//     border: 10px solid #ffffff;
// }

.item p {
    color: var(--green);
    width: 350px;
    font-family: sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    text-align: center;
}

.item p::after{
    content: "";
    background: var(--dark-green);
    display: block;
    width: 100%;
    height: 2.5px;
    margin: 20px auto 0 auto;
}

.item h3 {
    color: var(--yellow);
    text-transform: uppercase;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
    float: right;
}

@media (max-width:550px){
    .item h3{
        padding-left: 40px;
    }

    // .amarelo-redondo-passport-antes{
    //     display: none;
    // }

    // .amarelo-redondo-passport-depois{
    //     display: none;
    // }

}

.patrocinadores-session{
    height: 488px;
    background-color:  var(--red);
}

.patrocinadores-session .logo-patrocinador{
    margin-top: 2em;
    cursor: pointer;
    width: 95px;
    flex-basis: auto;
    height: 86px;
    margin-left: 15px;
    margin-right: 15px;
}

.patrocinadores-session .logo-patrocinador:first-of-type{
    margin-left: 15px;
}

.patrocinadores-session h2{
    text-align: center;
    font-size: 3em;
    font-family: 'Palanquin Dark', sans-serif;
    color: var(--white);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
}



.patrocinadores-session h2:last-of-type{
    margin-bottom: 2em;
}

.patrocinadores-session .logos-patrocinadores{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.contato-session{
    background-color: var(--green);
    height: 619px;
}

.contato-session h2{
    text-align: center;
    font-size: 3em;
    font-family: 'Palanquin Dark', sans-serif;
    color: var(--white);
    text-shadow: 0px 4px 4px #00000061;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contato-session form{
    text-align: center;
    margin-top: 2em;
}
.contato-session .input{
    border-radius: 15px;
    padding: 1em 1em;
    width: 60vw;
    border: none;
    margin-bottom: 2em;
    background: var(--green-input);
    border: solid 2px var(--green-input-stroke);
    outline: none;

}

.contato-session .input::placeholder{
    color: var(--green-input-stroke);
    font-family: 'Palanquin Dark', sans-serif;

}

.contato-session .mensagem{
    padding: 5em 1em;
}

.contato-session textarea{
    max-width: 60vw;
    min-width: 60vw;
}
textarea{
    overflow: auto;
    outline: none;
    text-decoration: none;
}

.contato-session input[type="submit"]{
    background: var(--yellow);
    border: 0px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 100px;
    color: var(--white);
    font-size: 1.125em;
    font-family: 'Palanquin Dark', sans-serif;
    box-shadow: 0 4px 4px 0px #00000061;
    width: 15em;
    cursor: pointer;
    padding: 5px 0px;
}

.contato-session input[type="submit"]:hover{
    background: var(--yellow-hover);
    transition: 0.3s;
    box-shadow: none;
}

@media screen and (max-width: 930px) {
    nav{
        width: 50%;
    }
    .main-session{
        h2{
            font-size: 30px;
        }
        .inscreva-se-button{
            padding: 5px 50px;
            font-size: 20px;
        }
        .area-do-congressista-button{
            padding: 2px 25px;
            font-size: 16px;
        }
        h3{
            font-size: 22px;
        }
        h1{
            font-size: 65px;
        }

    }
    .evento-session{
        h2{
            font-size: 80px;
        }
        h3{
            font-size: 33px;
        }
        p{
            font-size: 16px;
        }
        h4{
            font-size: 55px;
            margin-bottom: 40px;
        }
    }

    .palestrantes-session{
        h2{
            font-size: 36px;
        }
        p{
            font-size: 16px;
        }
        .confira-ja-button{
            padding: 7px 50px;
        }
    }

    .editais-session{
        h2{
            font-size: 32px;
        }
        p{
            font-size: 16px;
        }
        .confira-ja-button{
            padding: 7px 50px;
        } 
    }

    footer{
        .first-logo-social{
            margin-left: 3em;
        }
        .logo-social{
            margin-left: 3em;
        }
        .logo-in-junior{
            margin-right: 3em;
        }
        span{
            margin-right: 0.5em;
            font-size: 18px;
        }
    }

}
@media screen and (max-width: 620px) {
    .home header{
        display: block;
    }
    html .home{
        font-size: 70%;
    }
    nav{
        width: 100vw;
    }
    .container-home{
        display: table;
        width:100vw;
        height: calc(100vh - 150px);
    }
    .home-esquerda{
        width: 100vw;
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;

    }
    .home-direita{
        width: 100vw;   
    }

    .main-session{
        .home-direita{
            display: none;
        }
        .home-esquerda{
            height: calc(100vh);
        }
        h1{
            font-size: 48px;
        }
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 18px;
            width: 50%;
            text-align: center;
            margin: 0 auto;
            line-height: 30px;
        }
    }

    .evento-session{
        display: table-cell;
        vertical-align: middle;
        height: 697px;
        .home-direita div{
            text-align: center;
        }
        .home-direita div:last-of-type{
            margin-bottom: 50px;
        }
        .home-direita{
            display: table;
        }
        .home-esquerda{
            height: 0px;
            display: table;
        }
        p{
            margin-right: 5vw;
            margin-left: 5vw;
        }
        h4{
            margin-top: 32px;
            text-align: center;
        }
        
        h2{
            margin-left: 0px;
            text-align: center;
            font-size: 56px;
            margin-top: 32px;
        }
        span{
            margin-left: 0px;
            text-align: center;
        }
        h3{
            text-align: center;
        }
        
    }
    .palestrantes-session{
        height: 464px;
        .home-direita{
            display: none;
        }
        p{
            margin-left: 0px;
            float: none;
            margin: 0 auto;
            text-align: unset;
            max-width: none;
            margin-left: 5vw;
            margin-right: 5vw;
        }
        p:last-of-type{
            text-align: center;
            margin: 0 auto;
        }
        h2{
            text-align: center;
        }
    }

    .editais-session{
        height: 471px;
        h2{
            text-align: center;
        }
        p{
            margin: 0 auto;
            float: none;
            margin: 0 auto;
            text-align: unset;
            max-width: none;
            margin-left: 5vw;
            margin-right: 5vw;
        }
        p:last-of-type{
            text-align: center;
            margin: 0 auto;
        }
        .home-esquerda{
            display: none;
        }
        .home-direita{
            margin: 0 auto;
            display: table-cell;
            vertical-align: middle;
            height: 471px;
        }
        .confira-ja-button{
            float: none;
        }
    }
    .patrocinadores-session{
        height: 580px;
        h2:last-of-type{
            margin-bottom: 20px;
        }
        .logo-patrocinador:first-of-type{
            margin-left: 10px;
        }
        .logo-patrocinador{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .contato-session{
        height: 559px;
        h2{
            margin-bottom: 40px;
        }
        .input{
            margin-bottom: 22px;
            width: 300px;
            padding: 12px 0px;
            min-width: 300px;
        }
        input[type="submit"]{
            margin-top: 65px;
            width: 172px;
            height: 45px;
        }
        textarea{
            max-width: 300px;
        }
        .mensagem{
            height: 126px;
            padding: 0px;
            max-height: 126px;
            resize: none;
        }
    }
    .footer, .push{
        height: 431px;
    }
    .wrapper{
        margin-bottom: -431px;
    }
    footer{
        .footer-esquerda{
            text-align: center;
            width: 100vw;
        }
        
        .first-logo-social{
            margin-left: 0px;
        }

        .footer-direita{
            float: none;
            align-items: center;
            display: block;
            width: 100vw;
        }
        .logo-social{
            margin-top: 87px;
            margin-bottom: 100px;
        }
        span{
            display: block;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .logo-in-junior{
            float: none;
            width: 94px;
            margin: 0px;
            text-align: center;
            margin: 0 auto;
            display: block;
        }

    }
}

